$primary-color: #10111d;
$secondary-color: #e09034;
$third-color: #ffffff;
$fourth-color: darken($third-color, 10);

#about-page {
    position: relative;
    z-index: 1000;
}

.github-link {
    color: $secondary-color;
    background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
    border: 0.5px solid $secondary-color;
    border-radius: 15px;
    box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
    
    button {
        border: none;
        box-shadow: none;
    }
    #github-logo {
        filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
    }
   
}