$primary-color: #10111d;
$secondary-color: #e09034;
$third-color: #ffffff;
$fourth-color: darken($third-color, 10);

#main-about-page {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 50vw;
  // background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  background-color: $primary-color;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
  color: $secondary-color;
}

#github-link, #oslabs-form, #medium-form {
  color: $secondary-color;
  // background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  background-color: $primary-color;
  border: 0.5px solid $secondary-color;
  border-radius: 15px;
  padding: 5px;
  margin: 20px;

  button {
    border: none;
    box-shadow: none;
    // background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
    background-color: $primary-color;
    display: flex;
    align-items: center;

    #github-logo {
      filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
    }

    img {
      max-height: 25px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
  }
}

#linkedin-section {
  display: flex;
  justify-content: center;
  ul {
    list-style-type: none;
  }
  img {
    margin-block: 16px;
    max-height: 100px;
    filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
  }
  #linkedin-form {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  a {
    color: $secondary-color;
    &:hover {
      text-decoration: none;
      color: darken($secondary-color, 20)
    }
  }
  #watchdogs-linkedin-link {
    font-size: 26px;
  }
}

#medium-form {
  background-color: $primary-color;
  button {
    height: 25px;
    display: flex;
    align-items: center;
  }
  #medium-logo {
    max-height: 100%;
    filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
  }
}


#oslabs-form {
  button {
    height: 50px;
  }
  #oslabs-logo {
    max-height: 100%;
  }
}

#about-icon {
  filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
  max-height: 25px;
}
