// Color Variables
$primary-color: #10111d;
$secondary-color: #e09034;
$third-color: #ffffff;
$fourth-color: darken($third-color, 10);

body {
  font-family: sans-serif;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: $third-color;
  // overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Nav-Bar
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5vh;
  min-width: 80vw;
  min-height: 30px;
  position: relative;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  border: 0.5px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;

  #lock-left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      margin: 20px;
      height: 80%;
      img {
        height: 70%;
      }
    }
  }

  #lock-right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

    a {
      display: flex;
      align-items: center;
      height: 80%;
      img {
        margin: 15px;
        height: 45%;
        filter: invert(74%) sepia(57%) saturate(2033%) hue-rotate(335deg) brightness(93%) contrast(89%);
      }
    }
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
// No function Display
#nofunc {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: $secondary-color;
  border: 0.5px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
  margin: 50px;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  position: relative;
  background-color: $primary-color;
}

// Functions
#functions-list {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  #functions-list-filters {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80vw;

    #function-filter {
      display: flex;
      color: $secondary-color;
      width: 20vw;

      .select__control {
        width: 15vw;
        background-color: $primary-color;
        border: solid 1px $secondary-color;

        &:hover {
          box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
        }

        .select__indicators {
          .select__indicator-separator {
            background-color: $secondary-color;
          }
          .select__dropdown-indicator {
            color: $secondary-color;
          }
        }
        .select__multi-value {
          background-color: $primary-color;
          // border: solid .5px $secondary-color;
          color: $secondary-color;
          .select__multi-value__label {
            color: $secondary-color;
          }
        }
      }
      .select__control--is-focused {
        border: solid 1px $secondary-color;
      }
      .select__control--menu-is-open {
        border: solid 1px $secondary-color;
        box-shadow: none;
        // color: red;
      }
      .select__menu {
        color: $secondary-color;
        background-color: $primary-color;
        border: solid 1px $secondary-color;
        margin-inline: 6px;
      }

      .css-t3ipsp-control {
        border: solid 1px $secondary-color;
        box-shadow: none;
        color: red;
      }
    }

    #buttons-area {
      display: flex;
      align-items: center;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;

      button {
        color: $secondary-color;
        background-color: $primary-color;
        font-size: 14px;
        width: 8vw;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        border: none;
        transition: background-color 0.5s;
        min-height: 3vh;
      }
      .selected {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }

    #refresh-timeframe {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 20vw;
      label {
        color: $secondary-color;
        margin: 0 10px;
      }
      select {
        color: $secondary-color;
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));
        font-size: 14px;
        border: none;
        position: relative;
        z-index: 1000;

        &:hover {
          background-color: $secondary-color;
        }
        &:focus {
          outline: none;
        }
      }

      #timeframe-interval {
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));
        border: 1px solid $secondary-color;
        border-radius: 5px;
        padding: 4px;
      }

      #refresh-button {
        display: flex;
        align-items: center;
        color: $secondary-color;
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 14px;
        margin: 0 0 10px 0;

        &:hover {
          box-shadow: darken($secondary-color, 20) 0px 0px 10px 0px;
        }

        #refresh-img {
          margin: 5px;
          height: 14px;
        }
      }
    }
  }

  .function {
    width: 100%;
    color: $secondary-color;
    background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    // padding: 10px;
    border: 0.5px solid $secondary-color;
    border-radius: 15px;
    box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;

    h2 {
      align-self: flex-start;
      padding-inline: 50px;
    }
    .chart {
      width: 90%;
      height: 250px;
    }
    p {
      text-align: center;
    }
    .error-button {
      align-self: flex-end;
      color: $secondary-color;
      background: transparent;
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      margin: 0 5px 20px;
      padding: 5px;
    }
  }

  .errorfunction {
    border: 0.5px solid red !important;
    box-shadow: red 0px 0px 20px 0px !important;
  }
}

//Pie Chart
#pielist {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondary-color;
  // padding: 20px;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  border-radius: 15px;
  margin-top: 30px;
  width: 80vw;
  height: 416px;

  #pie-timeframe {
    display: flex;
    justify-content: end;
    margin: 25px 0 0 0;
    select {
      margin: 0 10px 0 0;
      color: $secondary-color;
      background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
    }
  }
  .pie {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: relative;
    // margin-top: 3vw;
    div {
      // width: 50%;
      margin: 0 5vw;
    }
  }
}
