// Color Variables
$primary-color: #10111d;
$secondary-color: #e09034;
$third-color: #ffffff;
$fourth-color: darken($third-color, 10);

body {
  font-family: sans-serif;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: $third-color;
}

// Nav-Bar
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5vh;
  min-width: 80vw;
  width: auto;
  min-height: 30px;
  position: relative;
  // z-index: 1000;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 2));
  border: 0.5px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;

  #lock-left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      margin: 20px;
      height: 80%;
      img {
        height: 70%;
      }
    }
  }

  #lock-right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

    a {
      display: flex;
      align-items: center;
      height: 80%;
      img {
        margin: 15px;
        height: 45%;
        filter: invert(74%) sepia(57%) saturate(2033%) hue-rotate(335deg)
          brightness(93%) contrast(89%);
      }
    }
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

#nofunc {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: $secondary-color;
  border: 0.5px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
  margin: 50px;
  // z-index: 1000;
  background: linear-gradient(
    45deg,
    $primary-color,
    lighten($primary-color, 2)
  );
  position: relative;
  background-color: $primary-color;
}

#timeframe-selector {
  position: relative;
  z-index: 1000;
}

#increment-selector {
  position: relative;
  z-index: 1000;
}


// Functions
#functions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  #functions-list-filters{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    #function-filter{
      display: flex;
      align-items: center;
      color: $secondary-color;
      

      .select__control{
        background-color: $primary-color;
        border: solid 1px $secondary-color;
        margin-inline: 6px;
        .select__indicators {
          .select__indicator-separator{
            background-color: $secondary-color;
          }
          .select__dropdown-indicator{
            color: $secondary-color
          }
        }
        .select__multi-value{
          background-color: $primary-color;
          border: solid 1px $secondary-color;
          color: $secondary-color;
            .select__multi-value__label{
              color: $secondary-color;
            }
        }
      }

      .select__control--is-focused {
        border: solid 1px $secondary-color;
      }
      .select__control--menu-is-open {
        border: solid 1px $secondary-color;
        box-shadow: none;
      }
      .select__menu {
        background-color: $primary-color;
        border: solid 1px $secondary-color;
        margin-inline: 6px;
      }
      .css-t3ipsp-control{
        border: solid 1px $secondary-color;
        box-shadow: none;
      }
    }
    
    #refresh-area {
      
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-self: flex-end;
    
      label {
        color: $secondary-color;
        margin: 0 4px;
      }
      select {
        color: $secondary-color;
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));  
        font-size: 14px;
        margin: 0 4px;
        border: 1px solid $secondary-color;
        border-radius: 5px;
      }
      #refresh-button {
        display: flex;
        align-items: center;
        color: $secondary-color;
        background: linear-gradient(
      45deg,
      $primary-color,
      lighten($primary-color, 7)
    );
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 14px;
        box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
    
        #refresh-img {
          margin: 5px;
          height: 14px;
        }
      }
    }
  }


  .function {
    width: 80vw;
    color: $secondary-color;
    background: linear-gradient(
      45deg,
      $primary-color,
      lighten($primary-color, 2)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
    border: 0.5px solid $secondary-color;
    border-radius: 15px;
    box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;

    h2 {
      align-self: flex-start;
      padding-left: 50px;
    }
    .chart {
      width: 100%;
      height: 250px;
    }
    p {
      text-align: center;
    }
    .error-button {
      align-self: flex-end;
      color: $secondary-color;
      background: transparent;
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      margin: 0 5px 10px;
      padding: 5px;
    }
  }

  .errorfunction {
    border: 0.5px solid red !important;
    box-shadow: red 0px 0px 20px 0px !important;
  }
}
//Pie Chart
#pielist{
  display: flex;
  flex-direction: column;

  #pie-timeframe {
    display: flex;
    justify-content: end;
    margin: 25px 0 0 0;
    select {
      margin: 0 10px 0 0;
      color: $secondary-color;
      background: linear-gradient(45deg, $primary-color, lighten($primary-color, 7));
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
    }
  }
  .pie {
    display: flex;
    justify-content: center;
    position: relative;
    // margin-top: 3vw;
    div {
      width: 50%;
    }
  }
}

// Warm List
#warm-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  background-color: $primary-color;
  margin-top: 20px;
  padding-left: 20px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
}

//User Info
#main-user-info,
#main-warm-list {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(
    45deg,
    $primary-color,
    lighten($primary-color, 2)
  );
  margin-top: 20px;
  padding-left: 20px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
  color: $secondary-color;

  button {
    color: $secondary-color;
    background: transparent;
    border: none;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-left: 10px;
  }
  form {
    margin-top: 10px;
    margin-bottom: 20px;
    input {
      margin-right: 5px;
    }
  }
  span {
    text-decoration: underline;
  }
  #logout-button {
    margin: 20px;
  }
}

//Loading
#loading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

// Loading Icon
@keyframes ldio-7c2ii3644jj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-7c2ii3644jj > div {
  animation: ldio-7c2ii3644jj 3s infinite linear;
  transform-origin: 64px 64px;
  border-radius: 5px;
}
.ldio-7c2ii3644jj > div div {
  position: absolute;
}
.ldio-7c2ii3644jj > div div:nth-child(1),
.ldio-7c2ii3644jj > div div:nth-child(2) {
  width: 60.160000000000004px;
  height: 60.160000000000004px;
  border: 14.08px solid;
  border-radius: 50%;
  border-color: transparent #e09034 #e09034 #e09034;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 64px 64px;
}
.ldio-7c2ii3644jj > div div:nth-child(1) {
  transform: rotate(45deg) translate(33.92px, 33.92px);
}
.ldio-7c2ii3644jj > div div:nth-child(2) {
  transform: rotate(45deg) translate(33.92px, 33.92px);
}
.ldio-7c2ii3644jj > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 15.36px solid;
  border-color: transparent transparent transparent #e09034;
  transform: translate(64px, 26.240000000000002px);
}
.loadingio-spinner-reload-95c95vxnjuq {
  width: 128px;
  height: 128px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7c2ii3644jj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7c2ii3644jj div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */


