// Color Variables
$primary-color: #10111d;
$secondary-color: #e09034;
$third-color: #FFFFFF;
$fourth-color: darken($third-color, 10);

body {
  margin: 20px;
  background-color: $primary-color;
  color: $third-color;
}

// Nav-Bar
nav {
  min-height: 30px;
  position: relative;
  z-index: 1000;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 10));
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: $primary-color 0px 7px 29px 0px;

  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// Functions
#functions-list {
  position: relative;
}

#refresh-area {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #refresh-button {
    display: flex;
    align-items: center;
    color: $secondary-color;
    background: linear-gradient(45deg, $primary-color, lighten($primary-color, 10));
    border: none;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;

    #refresh-img {
      margin: 5px;
      height: 14px;
    }
  }
}

.function {
  color: $fourth-color;
  // background-color: $primary-color;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 5));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: $primary-color 0px 7px 29px 0px;
}


// Error Logs, Warm List
#error-logs,
#warm-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  background-color: $primary-color;
  margin-top: 20px;
  padding-left: 20px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: $primary-color 0px 7px 29px 0px;
}

//User Info
#main-user-info,
#main-error-logs,
#main-warm-list {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  position: relative;
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 5));  margin-top: 20px;
  padding-left: 20px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  box-shadow: $primary-color 0px 7px 29px 0px;
  color: $secondary-color;

  button {
    color: $secondary-color;
    background: transparent;
    border: none;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-left: 10px;
  }
  form {
    margin-top: 10px;
    margin-bottom: 20px;
    input {
      margin-right: 5px;
    }
  }
  span {
    text-decoration: underline;
  }
}

//Loading
#loading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

// Loading Icon
@keyframes ldio-7c2ii3644jj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-7c2ii3644jj > div {
  animation: ldio-7c2ii3644jj 3s infinite linear;
  transform-origin: 64px 64px;
  border-radius: 5px;
  background-color: $primary-color;
}
.ldio-7c2ii3644jj > div div {
  position: absolute;
}
.ldio-7c2ii3644jj > div div:nth-child(1),
.ldio-7c2ii3644jj > div div:nth-child(2) {
  width: 60.160000000000004px;
  height: 60.160000000000004px;
  border: 14.08px solid;
  border-radius: 50%;
  border-color: transparent #e09034 #e09034 #e09034;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 64px 64px;
}
.ldio-7c2ii3644jj > div div:nth-child(1) {
  transform: rotate(45deg) translate(33.92px, 33.92px);
}
.ldio-7c2ii3644jj > div div:nth-child(2) {
  transform: rotate(45deg) translate(33.92px, 33.92px);
}
.ldio-7c2ii3644jj > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 15.36px solid;
  border-color: transparent transparent transparent #e09034;
  transform: translate(64px, 26.240000000000002px);
}
.loadingio-spinner-reload-95c95vxnjuq {
  width: 128px;
  height: 128px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7c2ii3644jj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7c2ii3644jj div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
