$primary-color: rgb(16,17,29);
$secondary-color: rgb(224,144,52);






#main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#login-containter {
    background-color: $primary-color;
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    border-radius: 25px;
    z-index: 1;
   
    img {
        width: 50vw;
        border-radius: 30px;
    }
    form {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            padding: 5px;
            
            input {
                margin: 5px;
            }

        }

        button {
            width: 200px;
        }

        a {
            color: $secondary-color;
            padding: 12px;
        }
    }
}
