// Color Variables
$primary-color: rgb(16, 17, 29);
$secondary-color: rgb(224, 144, 52);

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
  -webkit-text-fill-color: $secondary-color;
}

// Main Container
#main-login-container {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

// Login Container
#login-container {
  background-color: $primary-color;
  height: auto;
  width: 50vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  z-index: 1;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;

  img {
    width: 50vw;
    max-width: 800px;
    border-radius: 30px;
  }
  #invalid-display {
    color: red;
  }
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      padding: 10px;
      margin-bottom: 5px;

      input {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 10em;
        height: 1.5em;
        color: $secondary-color;
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 4)) !important;
        // background-color: $primary-color !important;
        border: none;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 14px;
        box-shadow: darken($secondary-color, 40) 0px 0px 15px 0px;
        &:focus {
          outline: none;
        }
      }
    }

    button {
      width: 10em;
      color: $secondary-color;
      background: linear-gradient(45deg, $primary-color, lighten($primary-color, 4));
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      font-size: 16px;
      &:hover {
          box-shadow: darken($secondary-color, 30) 0px 0px 10px 0px;
        }
    }

    a {
      color: $secondary-color;
      padding-bottom: 20px;
      &:hover {
          text-decoration: none;
          color: darken($secondary-color, 20)
        }
    }
  }
  #login-github-link {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    a {
      color: $secondary-color;
      &:hover {
          text-decoration: none;
          color: darken($secondary-color, 20)
        }
    }
    img {
      height: 25px;
      width: auto;
      filter: invert(49%) sepia(95%) saturate(433%) hue-rotate(353deg) brightness(97%) contrast(93%);
      padding-inline: 8px;
    }
  }
}
