// Color Variables
$primary-color: rgb(16, 17, 29);
$secondary-color: rgb(224, 144, 52);

// Main Container
#main-login-container {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

// Login Container
#login-container {
  background-color: $primary-color;
  height: auto;
  width: 50vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  z-index: 1;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;

  img {
    width: 50vw;
    max-width: 800px;
    border-radius: 30px;
  }
  #invalid-display {
    color: red;
  }
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      padding: 5px;
      margin-bottom: 5px;

      input {
        margin: 5px;
      }
    }

    button {
      width: 10em;
    }

    a {
      color: $secondary-color;
      padding-bottom: 20px;
    }
  }
}
