// Color Variables
$primary-color: rgb(16, 17, 29);
$secondary-color: rgb(224, 144, 52);

// Main Container
#main-signup-container {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

//Signup Container
#signup-container {
  background-color: $primary-color;
  height: auto;
  width: 50vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  z-index: 1;
  box-shadow: darken($secondary-color, 30) 0px 0px 15px 0px;
  a {
  }
  img {
    width: 50vw;
    max-width: 800px;
    border-radius: 30px;
  }
  #user-already-exists {
    color: red;
  }
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      padding: 5px;

      input {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 10em;
        height: 1.5em;
        color: $secondary-color;
        background: linear-gradient(45deg, $primary-color, lighten($primary-color, 4));
        background-color: $primary-color;
        border: none;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 14px;
        box-shadow: darken($secondary-color, 40) 0px 0px 15px 0px;
      }
      input:focus {
        outline: none;
      }
    }

    select {
      // background-color: $primary-color;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      padding: 2px;
      box-shadow: darken($secondary-color, 40) 0px 0px 15px 0px;
      background: linear-gradient(45deg, $primary-color, lighten($primary-color, 4));
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    select:focus {
      outline: none;
    }

    button {
      width: 10em;
      color: $secondary-color;
      background: linear-gradient(45deg, $primary-color, lighten($primary-color, 4));
      border: none;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      font-size: 16px;
      box-shadow: darken($secondary-color, 40) 0px 0px 15px 0px;
      margin-bottom: 20px;
    }

    a {
      color: $secondary-color;
      padding-bottom: 20px;
    }
  }
}
